<div id="bewertung-view-container">
  <section id="header-container" class="content-width">
    <h2>Sessionbewertungen</h2>
    <a [routerLink]="'/session/overview'" >zurück</a>
  </section>
  <section id="general-stats-container" class="content-width container">
    <h3>Allgemeine durchschnittliche Leistung</h3>
    <table>
      <tbody>
        <tr>
          <td>Konzentration</td>
          <td>{{generalStatistiken.konzentrationBewertung}}/10</td>
        </tr>
        <tr>
          <td>Produktivität</td>
          <td>{{generalStatistiken.produktivitaetBewertung}}/10</td>
        </tr>
        <tr>
          <td>Schwierigkeit</td>
          <td>{{generalStatistiken.schwierigkeitBewertung}}/10</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="individual-stats-container" class="content-width container border-b">
    <h3>Individuelle Leistung pro Session</h3>
    <form>
      <label>Session wählen</label>
      <select [(ngModel)]="selectedSessionId" name="session">
        <option *ngFor="let s of sessionInfo" [value]="s.fachId">{{s.name}}</option>
      </select>
    </form>
    <app-line-chart [selectedSessionId]="selectedSessionId"></app-line-chart>
  </section>
</div>
