.border-r {
  border: 1px solid red;
  padding: 1px;
  margin: 1px;
}
.border-g {
  border: 1px solid green;
  padding: 1px;
  margin: 1px;
}
.border-b {
  border: 1px solid blue;
  padding: 1px;
  margin: 1px;
}

#bewertung-view-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#general-stats-container {

}

.content-width {
  width: 50%;
}

td {
  width: 125px;
}
