<div id="kartei-übersicht-container">
  <div id="kartei-übersicht-header">
    <div>
      <h2 class="m-accent-font">Deine Karteikarten-Sets</h2>
    </div>
    <div id="add-set-container">
      <a id="add-set" [routerLink]="'/neuer-stapel'">
        <i class="bi bi-plus-circle"></i>
      </a>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div id="loading-bar-container">
    <mat-progress-bar id="loading-bar" mode="buffer"></mat-progress-bar>
  </div>
</ng-container>

<ng-container *ngIf="!isLoading">
  <div id="kartei-set-container">
    <div *ngIf="!karteiSetsAvailable">
      <p>Keine Karteikarten-Sets vorhanden.</p>
    </div>

    <div *ngIf="karteiSetsAvailable">
      <div id="kartei-set-info-kachel" class="alert alert-light shd" *ngFor="let s of stapel">
        <div class="kartei-set-info-actions">
          <div class="kartei-set-info-item">
              <strong>
                <a id="kartei-set-kachel-set-name" [routerLink]="['/stapel-details', s.fachId]">{{s.name}}</a>
              </strong>
          </div>
          <!-- TODO: implement
          <div class="kartei-set-info-item" th:if="${karteiSet.hasModulFachId()}">
            <p>Modul: <span th:text="${modulService.getModulName(karteiSet.getModulFachId())}">Mathematik</span></p>
          </div>
           -->
        </div>
        <div class="kartei-set-info-actions">
          <!-- TODO: Wenn fällige karteikarten anstehen, wird der lernen button angezeigt-->
          <div id="lernen-btn-container" class="kartei-set-info-item" *ngIf="s.anzahlFaelligeKarteikarten > 0">
            <a id="lernen-btn" [routerLink]="['/lernen', s.fachId]" >
              <strong>lernen
                <span id="vorrausichtliche-zeit-label" *ngIf="s.vorraussichtlicheLernzeit > 0">{{'(' + s.vorraussichtlicheLernzeit + 's)'}}</span>
              </strong>
            </a>
          </div>

          <div class="kartei-set-info-item">
            <p>Neu: <span id="neue-karten">{{s.anzahlNeueKarteikarten}}</span></p>
          </div>
          <div class="kartei-set-info-item">
            <p>Fällig: <span id="fällige-karten">{{s.anzahlFaelligeKarteikarten}}</span></p>
          </div>
          <div class="kartei-set-info-item">
            <a id="kartei-set-kachel-option" href="#">
              <i class="bi bi-gear" title="Set bearbeiten"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
