.sh-btn {
  width: 100px;
  background-color: rgb(16, 45, 92);
  color: white;
  text-align: center;
  border-radius: 10px;
  height: 40px;
}

.sh-btn:hover {
  background-color: rgb(70, 102, 153);
}
