ports.txt
todo.txt
test.csv
.idea

backend/track/modul-data
backend/track/run-tests-modul.bat
backend/track/modul-test.sh
backend/track/target
backend/track/.env

backend/kartei/kartei-data
backend/kartei/run-tests-kartei.bat
backend/kartei/kartei-test.sh
backend/kartei/target
backend/kartei/.env

backend/authentication/user-data
backend/authentication/auth-test.sh
backend/authentication/run-tests-auth.bat
backend/authentication/target
backend/authentication/.env

backend/mail/mail-data
backend/mail/run-tests-mail.bat
backend/mail/mail-test.sh
backend/mail/target
backend/mail/.env

backend/mindmap/mindmap-data
backend/mindmap/.env
backend/mindmap/target

backend/actuator/actuator-test.sh
backend/actuator/run-tests-actuator.bat
backend/actuator/target
backend/actuator/.env

# Ist nur für Windows relevant
start-kafka.bat

