.bordered-r {
  border: 1px solid red;
  padding: 3px;
  margin: 3px;
}

.bordered-g {
  border: 1px solid green;
  padding: 3px;
  margin: 3px;
}

.bordered-b {
  border: 1px solid blue;
  padding: 3px;
  margin: 3px;
}

#lernplan-dash {
  width: 650px;
  margin-top: 5%;
}

#dash-header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

#erstellen-btn {
  width: 100px;
  height: 30px;
  background-color: #3f7dff;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#erstellen-btn:hover {
  background-color: #2168fd;
  cursor: pointer;
}

#no-lernplan-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  color: gray;
}

#lernplan-container {
  margin-top: 20px;
}

.table {
  border-radius: 5px;
  margin: 0;
}

.delete-cell, .edit-cell, .is-active-cell {
  width: 8%;
}

.is-active-cell {

}

.title-cell {
  vertical-align: middle;
  padding-left: 10px;
}

.edit-icon:hover {
  cursor: pointer;
  fill: #0b41f3;
}

.delete-icon:hover {
  cursor: pointer;
  fill: red;
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.sh-btn {
  height: 30px !important;
}

p, h3 {
  margin: 0;
}
