<div class="main-container">
  <div class="flex-1 flex-column m-4" *ngIf="!activePlanExists">
    <p>Sie haben bisher noch keine Lehrpläne erstellt.</p>
    <a [routerLink]="'/create-plan'">Lehrplan erstellen</a>
  </div>

  <div class="week-overview-container" *ngIf="activePlanExists">
    <div class="p-1 mb-3">
      <h2>Lernplan "{{activeLernplan.lernplanTitel}}"</h2>
    </div>
    <div class="week-content-container">
      <div class="week-container" *ngFor="let weekdayInfo of weekdayInfos; let i = index" [ngClass]="{'disabled' : weekContainerDisabled[i]}" >
        <div class="wrapper">
          <div class="header-wrapper">
            <h4>{{weekdayInfo.weekday}}</h4>
            <p>{{weekdayInfo.beginn}}</p>
          </div>

          <hr *ngIf="weekdayInfo.sessionId != ''">

          <div class="free-container" *ngIf="weekdayInfo.sessionId == ''">
            <p>F</p>
            <p>R</p>
            <p>E</p>
            <p>I</p>
          </div>

          <div class="blocks-container" *ngIf="weekdayInfo.sessionId != ''">
            <div class="block-container" *ngFor="let block of weekdayInfo.blocks">
              <p>
                <span>{{block.modulName}}</span>
              </p>
              <span class="zeitangabe">({{(block.lernzeitSeconds) | timeFormat}} / {{(block.pausezeitSeconds) | timeFormat}})</span>
            </div>

            <div class="total-time-container" *ngIf="weekdayInfo.sessionId != ''">
              <span class="zeitangabe-full m-accent-font">{{totalLearningTimePerDay(weekdayInfo) | timeFormat}} / {{totalPausenTimePerDay(weekdayInfo) | timeFormat}}</span>
            </div>
          </div>
        </div>
        <div class="blocks-container">
          <div class="link-container">
            <button class="start-session-btn" [routerLink]="['/module/session/start', weekdayInfo.sessionId]" *ngIf="!weekContainerDisabled[i] && weekdayInfo.sessionId != ''">
              <span>Session starten</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
