.border-r {
  border: 1px solid red;
  padding: 2px;
  margin: 2px;
}

.border-g {
  border: 1px solid green;
  padding: 2px;margin: 2px;
}

.border-b {
  border: 1px solid blue;
  padding: 2px;margin: 2px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90vw;
  margin-top: 40px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.content-container {
  width: 100%;
}

#loading-container {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.custom-spinner circle {
  stroke: #4caf50 !important;
}

.alert-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0;
}


