<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Karteikarten</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/general.css}">
  <link rel="stylesheet" href="/styles/new-karte.css" th:href="@{/styles/new-karte.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div>
  <div id="fragetyp-auswahl-form-box">
    <form id="fragetyp-auswahl-form" class="shd">
      <h2><stong>Stapel</stong> "<span th:text="${stapelName}"></span>"</h2>
      <label for="fragetyp">Fragetyp:</label>
      <select id="fragetyp" class="form-select fs-4" name="fragetyp">
        <option value="" th:selected="${fragetypChoice == null}">auswählen</option>
        <option th:each="typ : ${fragetypen}" th:value="${typ}" th:text="${typ.getDisplayName()}" th:selected="${typ.toString() == fragetypChoice}"></option>
      </select>
      <input id="karteiSetId" type="hidden" th:value="${karteiSetId}" name="karteiSetId">
    </form>
  </div>

  <div th:switch="${fragetypChoice}">
    <div th:case="'NORMAL'"
         th:object="${newKarteikarteForm}">
      <div th:replace="~{/new-karte/normal-fragment :: normal-choice}"></div>
    </div>

    <div id="new-karte-sc-form-container">
      <div th:case="'SINGLE_CHOICE'"
           th:object="${anyChoiceKarteikarteForm}"
           id="new-karte-sc-form"
           class="shd">
        <div th:replace="~{/new-karte/sc-fragment :: single-choice}"></div>
      </div>
    </div>

    <div id="new-karte-mc-form-container">
      <div th:case="'MULTIPLE_CHOICE'"
           th:object="${anyChoiceKarteikarteForm}"
           id="new-karte-mc-form"
           class="shd">
        <div th:replace="~{/new-karte/mc-fragment :: multiple-choice}"></div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
<script src="/js/generate-antwort-fields.js"></script>
<script src="/js/fragetyp.js"></script>
</body>
</html>