<html>
<div th:fragment="single-choice">
  <div>
    <form method="post" th:action="@{/set-anzahlAntworten}">
      <input type="hidden" th:value="${karteiSetId}" name="karteiSetId">
      <label for="anzahl-aw-sc" class="form-label">Anzahl Antworten:</label>
      <select id="anzahl-aw-sc" class="form-select" name="anzahlAntworten">
        <!-- TODO: Wenn man auf ne option klickt soll eine request abgeschickt werden, damit der Button entfällt-->
        <option th:each="i : ${#numbers.sequence(2, 10)}" th:value="${i}" th:text="${i}"></option>
      </select>
      <button>auswählen</button>
    </form>
  </div>

  <hr>

  <form method="post" th:action="@{/create-choice-karteikarte/{karteiSetId}(karteiSetId=${karteiSetId})}">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>
            <label for="new-frage-sc">Frage:</label>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <textarea id="new-frage-sc" name="frage" class="form-control d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(229, 209, 208, .40)" placeholder="Frage stellen..."></textarea>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <table class="table">
        <thead>
        <tr>
          <th>Antwort</th>
          <th>
            <div class="t-center">
                <p>Wahr</p>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <!-- TODO: validation im Back-End funktioniert nicht, ist hier nur per required gelöst-->
        <tr th:each="i : ${#numbers.sequence(0, (anzahlAntworten) - 1)}">
          <td>
            <textarea rows="2" type="text" placeholder="Antwort eingeben..." th:name="${'antworten[' + (i) + '].antwort'}" class="form-control d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(229, 209, 208, .40)" required></textarea>
          </td>
          <td>
            <div class="t-center wahr">
              <input type="radio" name="wahrheitIndex" th:value="${i}" class="form-check-input" required>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-3">
      <label for="new-sc-notiz" class="form-label">Notiz:</label>
      <textarea id="new-sc-notiz" class="form-control d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" style="--bs-focus-ring-color: rgba(229, 209, 208, .40)" name="notiz" rows="1"></textarea>
    </div>
    <input type="hidden" name="frageTyp" value="SINGLE_CHOICE">
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">hinzufügen</button>
    </div>
  </form>
</div>

</html>