<div class="all-termine-container">
  <mat-list role="list">
    <h2 class="m-accent-font">Termine</h2>
    <mat-list-item role="listitem" *ngFor="let termin of modultermine" class="termin-item">
      <div class="termin-details-container m-accent-font">
        <h4>{{termin.terminName}}</h4>
        <div class="termin-dates">
          <div class="date-item">
            <p><strong>Beginn: </strong> <span>{{termin.startDate | date:'dd.MM.yyyy HH:mm'}}h</span></p>
          </div>
          <div class="date-item">
            <p *ngIf="termin.endeDate"><strong>Ende: </strong> <span>{{termin.endeDate | date:'dd.MM.yyyy HH:mm'}}h</span></p>
          </div>
        </div>
        <p *ngIf="termin.notiz"><strong>Bemerkung: </strong> "<span>{{termin.notiz}}</span>"</p>
      </div>
    </mat-list-item>
  </mat-list>
</div>
