<div class="main-container">
  <div class="form-container">
    <form class="sh-form" [formGroup]="newModulForm" (ngSubmit)="onSubmit()">
      <h2 class="m-accent-font mb-4">Modul anlegen</h2>
      <div class="mb-4">
        <label for="modul-name" class="form-label m-accent-font sh-form-lbl">Modulname<span class="hint-star">*</span></label>
        <input id="modul-name" class="form-control" type="text" formControlName="name">
        <span class="text-danger"
              *ngIf="newModulForm.controls['name'].errors?.['required'] && newModulForm.controls['name'].touched">
              Bitte geben Sie einen Modulnamen ein
        </span>
      </div>
      <div class="mb-4">
        <label for="cp" class="form-label m-accent-font sh-form-lbl">Leistungspunkte<span class="hint-star">*</span></label>
        <input id="cp" class="form-control" type="number" formControlName="creditPoints" min="0">
        <span class="text-danger"
              *ngIf="newModulForm.controls['creditPoints'].errors?.['min'] && newModulForm.controls['creditPoints'].touched">
              Kreditpunkte müssen positiv sein
        </span>

        <span class="text-danger"
              *ngIf="newModulForm.controls['creditPoints'].errors?.['required'] && newModulForm.controls['creditPoints'].touched">
              Bitte geben Sie Kreditpunkte ein
        </span>
      </div>

      <div class="mb-4">
        <label for="kontaktzeit" class="form-label m-accent-font sh-form-lbl">Kontaktzeit<span class="hint-star">*</span></label>
        <input id="kontaktzeit" class="form-control" type="number" formControlName="kontaktzeitStunden" min="1">
        <span class="text-danger"
              *ngIf="newModulForm.controls['kontaktzeitStunden'].errors?.['required'] && newModulForm.controls['kontaktzeitStunden'].touched">
              Bitte geben Sie Kontaktzeitstuden an
        </span>
        <span class="text-danger"
              *ngIf="newModulForm.controls['kontaktzeitStunden'].errors?.['min'] && newModulForm.controls['kontaktzeitStunden'].touched">
              Kontaktzeitstuden müssen mindestens '1' betragen
        </span>
      </div>

      <div class="mb-4">
        <label for="selbststudium" class="form-label m-accent-font sh-form-lbl">Selbststudium<span class="hint-star">*</span></label>
        <input id="selbststudium" class="form-control" type="number" formControlName="selbststudiumStunden" min="1">
        <span class="text-danger"
              *ngIf="newModulForm.controls['selbststudiumStunden'].errors?.['required'] && newModulForm.controls['selbststudiumStunden'].touched">
              Bitte geben Sie die Selbststudiumstunden an
        </span>
        <span class="text-danger"
              *ngIf="newModulForm.controls['selbststudiumStunden'].errors?.['min'] && newModulForm.controls['selbststudiumStunden'].touched">
              Selbststudiumstunden müssen mindestens '1' betragen
        </span>
      </div>

      <!-- STAPELERSTELLUNG
      <div>
        <div>
          <label for="stapel-checkbox">Mit neuem Karteikarten-Stapel</label>
          <input id="stapel-checkbox" type="checkbox" name="stapelCheckbox">
        </div>
        <div id="new-stapel">
          <label for="stapel-name" class="form-label">Stapelname:</label>
          <input type="text" id="stapel-name" name="stapelName">
          <label for="stapel-beschreibung" class="form-label">Beschreibung:</label>
          <textarea id="stapel-beschreibung" name="beschreibung"></textarea>

          <label for="lernstufen" class="form-label">Lernstufen:</label>
          <input id="lernstufen" name="lernstufen">
          </div>
      </div>
       -->

      <!-- SEMESTER TODO: Semester-Inputs erstellen
      <div>
        <div>
          <label for="semester-checkbox">Semester hinzufügen</label>
          <input id="semester-checkbox" type="checkbox" name="semesterCheckbox">
        </div>
        <div>
        </div>
      </div>
      -->
      <div class="mb-4">
        <button class="sh-form-btn">
          <span class="sh-form-btn-content">Modul hinzufügen</span>
        </button>
      </div>

      <div class="mt-3">
        <p class="m-accent-font form-hint">* Pflichtfeld</p>
        <p class="m-accent-font form-hint">** kann später eingestellt werden</p>
      </div>
    </form>
  </div>
</div>
