#change-pass-container {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#change-pass-form-container {
    background-color: rgb(247, 247, 247);
    border-style: none;
    border-radius: 10px;
    width: 350px;
}

#change-pass-form {
    padding: 10px 10px 10px 10px;
}