#registration-container {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#registration-form-container {
    background-color: rgb(247, 247, 247);
    border-style: none;
    border-radius: 10px;
    width: 350px;
}

#registration-form {
    padding: 10px 10px 10px 10px;
}

#registration-form-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

#register-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
}