<app-header-main></app-header-main>

<div id="main-view-container">
  <div id="side-navbar-container">
    <div>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'profil'">Mein Profil</button>
          </td>
        </tr>
        <tr>
          <td>
            <a class="navbar-link" [routerLink]="'module'">Module</a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="navbar-link" [routerLink]="'/kartei'">Kartei</a>
          </td>
        </tr>
        <tr *ngIf="isAdmin">
          <td>
            <a class="navbar-link" [routerLink]="'/admin'">Admin</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
