<div id="main-view-container">
  <div id="side-navbar-container">
    <div>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'home'">Home</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'meine-woche'">Meine Woche</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'lernplan'">Lernplan</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'session'">Lernsession</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'module'">Module</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'/kartei'">Kartei</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="navbar-link" [routerLink]="'/mindmap'">Mindmap</button>
          </td>
        </tr>
        <tr *ngIf="isAdmin">
          <td>
            <button class="navbar-link" [routerLink]="'/admin'">Admin</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <ul>
        <li class="nav-item">
          <a id="help-a" class="nav-link" title="Hilfe" [routerLink]="'/hilfe'">
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#274483" class="nav-svg"><path d="M478-240q21 0 35.5-14.5T528-290q0-21-14.5-35.5T478-340q-21 0-35.5 14.5T428-290q0 21 14.5 35.5T478-240Zm-36-154h74q0-33 7.5-52t42.5-52q26-26 41-49.5t15-56.5q0-56-41-86t-97-30q-57 0-92.5 30T342-618l66 26q5-18 22.5-39t53.5-21q32 0 48 17.5t16 38.5q0 20-12 37.5T506-526q-44 39-54 59t-10 73Zm38 314q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
          </a>
        </li>
        <li *ngIf="loginStatusService.isLoggedIn()" class="nav-item">
          <a id="logout-a" class="nav-link" (click)="logout()" title="Logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box-arrow-right nav-svg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
