#side-navbar-container {
  width: 15vw;
  background-color: rgb(248, 249, 250);
  border-right-style: solid;
  border-right-color: rgb(16, 45, 92);;
  border-right-width: 3px;
  min-height: 85vh;
}

.navbar-link {
  text-decoration: none;
  color: rgb(16, 45, 92);
}

.navbar-link:hover {
  font-weight: bold;
  cursor: pointer;
}

td {
  text-align: center;
}
