<div id="chart-container">
  <div class="chart">
    <ng-container *ngIf="isLoading">
      <div class="spinner-container">
        <Loading [entityName]="'Statistik'"></Loading>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="no-charts-container" *ngIf="emptyCharts()">
        <p>Keine Charts vorhanden</p>
      </div>
      <div *ngIf="!emptyCharts()">
        <canvas id="chart-total"></canvas>
      </div>
    </ng-container>
  </div>
  <div class="chart">
    <ng-container *ngIf="isLoading">
      <div class="spinner-container">
        <mat-spinner class="spinner" [diameter]="50"></mat-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="no-charts-container" *ngIf="emptyCharts()">
        <p>Keine Charts vorhanden</p>
      </div>
      <div *ngIf="!emptyCharts()">
        <canvas id="chart-each"></canvas>
      </div>
    </ng-container>
  </div>
</div>
