#chart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
  min-width: 40%;
  padding: 20px;
}

.chart canvas {
  width: 90% !important;
  min-width: 40%;
  height: auto !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
}

.no-charts-container {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 0;
  text-align: center;
  color: gray;
  font-size: 14px;
}

::ng-deep .spinner circle {
  stroke: lightgray !important;
}
