<div id="account-container">
  <h2>Profil</h2>
  <div id="account-table-container">
    <table class="table">
      <tbody>
      <tr>
        <th>Username</th>
        <td>{{userData.username}}</td>
        <td></td>
      </tr>
      <tr>
        <th>E-Mail</th>
        <td>
          <p>{{userData.mail}}</p>
        </td>
        <td>
          <a class="btn btn-outline-primary" (click)="toggleEmailChangeForm()">ändern</a>
          <div *ngIf="showEmailChangeForm">
            <form [formGroup]="emailChangeForm" (ngSubmit)="putNewEmail()">
              <input formControlName="newMail" placeholder="neue E-Mail-Adresse...">
              <button type="submit">abschicken</button>
            </form>
            <span class="text-danger"
                  *ngIf="emailChangeForm.controls['newMail'].errors?.['required'] && emailChangeForm.controls['newMail'].touched">
                  Geben Sie eine E-Mail-Adresse ein
            </span>
            <span class="text-danger"
                  *ngIf="emailChangeForm.controls['newMail'].errors?.['email'] && emailChangeForm.controls['newMail'].touched">
                  Geben Sie eine gültige E-Mail-Adresse ein
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <th>E-Mail Benachrichtigungen</th>
        <td>
          <div class="form-check form-switch">
            <label for="flexSwitchCheckChecked"></label>
            <input (change)="toggleEmailSubscription()"  class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="userData.notificationSubscription">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>Fachsemester</th>
        <td>{{userData.semester}}</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-outline-primary" (click)="togglePasswordChangeForm()">Passwort ändern</a>
        </td>
        <td>
          <div *ngIf="showPassChangeForm">
            <form [formGroup]="changePassForm" (ngSubmit)="putNewPass()">
              <div>
                <label for="old-pw" class="form-label">Altes Passwort</label>
                <input id="old-pw" class="form-control" type="password" formControlName="oldPw">
              </div>
              <div>
                <label for="new-pw" class="form-label">Neues Passwort</label>
                <input id="new-pw" class="form-control" type="password" formControlName="newPw">
                <span *ngIf="changePassFail">
                  Passwort konnte nicht geändert werden!
                </span>
              </div>
              <div>
                <button type="submit" class="btn btn-outline-primary"> abschicken</button>
              </div>
            </form>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a th:href="@{/delete-account}" class="btn btn-outline-danger">
            Konto löschen
          </a>
        </td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
