<div id="account-container" class="h-offset">
  <div id="account-table-container">
    <h2 class="m-accent-font">Benutzerinformation</h2>
    <table class="table">
      <tbody>
      <tr>
        <th class="col-wd-200 m-accent-font">Profilbild</th>
        <td class="col-wd-300 td-border-l m-accent-font">
          <div id="profilbild-container">
            <img ngSrc="assets/test-ava.png" height="128" width="128" alt="">
            <input
              type="file"
              #fileInput
              accept="image/*"
              (change)="selectProfilbild($event)"
              hidden
            />

            <!-- Button, der das File-Input triggert -->
            <button id="profilbild-ändern-btn" (click)="fileInput.click()">
              ändern
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="col-wd-200 m-accent-font">Username</th>
        <td class="col-wd-300 td-border-l m-accent-font">{{userData.username}}</td>
      </tr>
      <tr>
        <th class="col-wd-200">
          <div class="th-div">
            <p class="m-accent-font">E-Mail</p>
            <a class="std-link width-n" (click)="toggleEmailChangeForm()">ändern</a>
          </div>
        </th>
        <td class="col-wd-300 td-border-l m-accent-font">
          <p>{{userData.mail}}</p>
          <div *ngIf="showEmailChangeForm">
            <hr>
            <form [formGroup]="emailChangeForm" (ngSubmit)="putNewEmail()">
              <div id="change-mail-form-goup" class="group-div">
                <input class="form-control" formControlName="newMail" placeholder="neue E-Mail-Adresse...">
                <button class="sh-btn" type="submit" style="width: 150px;">abschicken</button>
              </div>
            </form>
            <span class="text-danger"
                  *ngIf="emailChangeForm.controls['newMail'].errors?.['required'] && emailChangeForm.controls['newMail'].touched">
                  Geben Sie eine E-Mail-Adresse ein
            </span>
            <span class="text-danger"
                  *ngIf="emailChangeForm.controls['newMail'].errors?.['email'] && emailChangeForm.controls['newMail'].touched">
                  Geben Sie eine gültige E-Mail-Adresse ein
            </span>
            <span class="text-danger" *ngIf="newMailAlreadyExists">
                  Diese E-Mail-Addresse ist bereits vergeben
            </span>
            <span class="text-danger" *ngIf="internalServerError">
                  E-Mail konnte nicht geändert werden. Versuchen Sie es später erneut. (500)
            </span>
            <hr>
          </div>
        </td>
      </tr>
      <tr>
        <th class="col-wd-200 m-accent-font">E-Mail-Benachrichtigungen</th>
        <td class="col-wd-300 td-border-l m-accent-font">
          <ng-container>
            <mat-slide-toggle (change)="toggleEmailSubscription()" [checked]="userData.notificationSubscription">
                <span *ngIf="userData.notificationSubscription" class="ff-outfit">deaktivieren</span>
                <span *ngIf="!userData.notificationSubscription" class="ff-outfit">aktivieren</span>
              </mat-slide-toggle>
          </ng-container>
        </td>
      </tr>
      <tr>
        <th class="col-wd m-accent-font">Fachsemester</th>
        <td class="col-wd-300 td-border-l m-accent-font">{{userData.semester}}</td>
      </tr>
      <tr>
        <th class="col-wd-200">
          <div class="th-div">
            <p class="m-accent-font">Passwort</p>
            <a class="std-link width-n" (click)="togglePasswordChangeForm()">ändern</a>
          </div>
        </th>
        <td class="col-wd-300 td-border-l">
          <div *ngIf="showPassChangeForm">
            <hr>
            <form id="change-pw-form" [formGroup]="changePassForm" (ngSubmit)="putNewPass()">
              <div>
                <label for="old-pw" class="form-label m-accent-font fw-bold">Altes Passwort</label>
                <input id="old-pw" class="form-control" type="password" formControlName="oldPw">
                <span class="text-danger"
                      *ngIf="changePassForm.controls['oldPw'].errors?.['required'] && changePassForm.controls['oldPw'].touched">
                  Geben Sie Ihr altes Passwort ein
                </span>
                <span class="text-danger"
                      *ngIf="changePassForm.controls['oldPw'].errors?.['minlength'] && changePassForm.controls['oldPw'].touched">
                  Passwort muss mindestens 8 Zeichen lang sein
                </span>
              </div>
              <div>
                <label for="new-pw" class="form-label m-accent-font fw-bold">Neues Passwort</label>
                <input id="new-pw" class="form-control" type="password" formControlName="newPw">
                <span class="text-danger"
                      *ngIf="changePassForm.controls['newPw'].errors?.['required'] && changePassForm.controls['newPw'].touched">
                  Geben Sie Ihr neues Passwort ein
                </span>
                <span class="text-danger"
                      *ngIf="changePassForm.controls['newPw'].errors?.['minlength'] && changePassForm.controls['newPw'].touched">
                  Passwort muss mindestens 8 Zeichen lang sein
                </span>
                <span class="text-danger" *ngIf="changePassFail">
                  Altes Passwort ist inkorrekt!
                </span>
              </div>
              <div>
                <button type="submit" class="sh-btn" style="margin-top: 15px;"> abschicken</button>
              </div>
            </form>
            <hr>
          </div>
        </td>
      </tr>
      <tr>
        <td class="col-wd-200">
          <a class="btn btn-outline-danger" (click)="toggleAssertDeletionBox()">
            Konto löschen
          </a>
        </td>
        <td class="col-wd-300 td-border-l">
          <div *ngIf="showAssertDeletionBox">
            <a class="btn btn-warning" (click)="deleteAccount()">Ja, Konto endgültig löschen</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
