<div id="account-container">
  <h2>Profil</h2>
  <div id="account-table-container">
    <table class="table">
      <tbody>
      <tr>
        <th>Username</th>
        <td>{{userData.username}}</td>
      </tr>
      <tr>
        <th>E-Mail</th>
        <td>
          <p>{{userData.mail}}</p>
        </td>
      </tr>
      <tr>
        <th>E-Mail Benachrichtigungen</th>
        <td>
          <div class="form-check form-switch">
            <label for="flexSwitchCheckChecked"></label>
            <input (change)="toggleEmailSubscription()"  class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="userData.notificationSubscription">
          </div>
        </td>
      </tr>
      <tr>
        <th>Passwort</th>
        <td>
          <a th:href="@{/change-pass}">ändern...</a>
        </td>
      </tr>
      <tr>
        <th>Fachsemester</th>
        <td>{{userData.semester}}</td>
      </tr>
      <tr>
        <td>
          <a th:href="@{/delete-account}" class="btn btn-outline-danger">
            Konto löschen
          </a>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="/js/notification-toggler.js"></script>
<script src="/js/get-notification-subscription.js"></script>
