.main-container {
  flex-direction: column;
  align-items: center;
  width: 90vw;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-container {
  width: 45%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-session-management-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#intro-p {
  font-size: 20px;
}

.card {
  width: 210px;
  height: 210px;
  font-size: 25px;
  padding: 10px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

.b {
  background-color: #6c8aff;
}

.g {
  background-color: #58da58;
}

.r {
  background-color: #f85d5d;
}

.o {
  background-color: #ffa500;
}
