<footer id="footer" class="bg-dark text-white py-3" role="contentinfo">
  <div>
    <nav id="footer-nav" class="d-flex justify-content-center">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="'impressum'">Impressum</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="'agb'">AGB</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="'datenschutz'">Datenschutz</a></li>
        <li class="nav-item"><a class="nav-link text-white" [routerLink]="'kontakt'">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <p>© 2025 Studyhuppy. Alle Rechte vorbehalten.</p>
  </div>
</footer>
