#antwort-container {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

#choice-aw-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#choice-wahr-item {
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
}

#choice-aw-item {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#choice-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#antworten-table {
  background-color: white;
}

.word-break {
  word-break: break-word;
  white-space: normal;
}
