.bordered-r {
  border-style: solid;
  border-color: red;
  border-width: 3px;
}

.bordered-b {
  border-style: solid;
  border-color: blue;
  border-width: 3px;
}

.bordered-g {
  border-style: solid;
  border-color: green;
  border-width: 3px;
}

.lernplan-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weekday-container {
  min-width: 500px;
  padding: 5px;
  margin: 5px;
}

.weekday-table {
  width: 100%;
}

.label-cell {
  width: 15%;
}

.zeit-cell {
  width: 15%;
  align-content: center;
  text-align: center;
}

#gesamtzeit-cell {
  width: 20%;
  align-content: center;
  text-align: center;
}

.time-picker {
  width: 80px;
}

p {
  margin: 0;
}

td {
  border-width: 0;
}
