.termine-container {
  width: 100%;
}

#modul-termine-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: row;
  gap: 20px;
}

#toggle-link:hover {
  cursor: pointer;
}
