#statistic-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bordered-r {
  border: 1px solid red;
  padding: 2px;
}

.bordered-b {
  border: 1px solid blue;
  padding: 2px;
}

#statistic-wrapper {
  width: 60vw;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
}

#pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pagination-item {
  padding: 15px;
}

#pagination-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

a {
  color: gray;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  cursor: pointer;
  color: rgb(16, 45, 92);
}

.activated a {
  color: rgb(16, 45, 92);
  text-decoration: underline;
}
