<div id="statistic-container">
  <div id="statistic-wrapper">
    <div id="pagination">
        <div class="pagination-item" (click)="activatePaginationitem(0)" [ngClass]="{'activated': isActive[0]}">
          <a class="" [routerLink]="'general'">Allgemein</a>
        </div>
        <div class="pagination-item" (click)="activatePaginationitem(1)" [ngClass]="{'activated': isActive[1]}">
          <a class="" [routerLink]="'charts'">Charts</a>
        </div>
    </div>
    <div id="pagination-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
