<div class="sub-container">
  <div class="frage-container">
    <p>{{ frage }}</p>
  </div>
</div>

<div class="sub-container" *ngIf="showAntwort">
  <div class="antwort-container">
    <p>{{ antwort }}</p>
  </div>
</div>

<section id="btn-section">
  <hr>
  <div class="sub-container" *ngIf="showAntwortBtn">
    <button id="anzeige-btn" class="btn" (click)="revealAntwort()">Antwort anzeigen</button>
  </div>
  <div class="row" *ngIf="showBtnGroup">
    <div class="col-2"></div>
    <div id="btn-group" class="col-8">
      <div *ngFor="let btnData of btnDataList; let i = index">
        <button [id]="'k-btn-'+i" class="btn w-150 m-1" (click)="updateKarteikarte(i)">{{btnData.schwierigkeit}} ({{btnData.btnTitel}})</button>
      </div>
    </div>
    <div class="col-1">
      <div id="bearbeiten-a">
        <a href="#">bearbeiten</a>
      </div>
    </div>
  </div>
</section>
