<div class="main-container">
  <div id="session-overview"  class="">
    <div id="session-overview-header-container" class="">
      <div>
        <h3>Meine Lernsessions</h3>
      </div>
      <div>
        <button class="sh-btn" [routerLink]="'/session/create'">erstellen</button>
      </div>
    </div>
    <div id="no-lernsessions-container" class="" *ngIf="!hasLernsessions()">
      <p>Keine Lernsessions verfügbar</p>
    </div>
    <div id="lernsessions-container" class="" *ngIf="hasLernsessions()">
      <table class="table table-sm">
        <tbody>
        <tr *ngFor="let session of lernsessions">
          <td class="title-cell"><p>{{session.titel}}</p></td>
          <td class="edit-cell">
            <div class="option-container" title="Bearbeiten">
              <a>
                <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
              </a>
            </div>
          </td>
          <td class="delete-cell">
            <div class=" option-container" title="Löschen">
              <button (click)="deleteSession(session.fachId, session.titel)">
                <svg class="delete-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
