#import-container {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.input-container {
  width: 30vw;
}

.offcanvas {
  width: 600px;
}

.format-file-container {
  background-color: lightgray;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
}

.format-example {
  font-family: "Consolas", serif;
}

p {
  margin-bottom: 0;
}

.open-canvas-link:hover {
  cursor: pointer;
}
