.sh-btn {
  width: 150px !important;
}

.blocks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lernblock-container {
  background-color: #e7f4ff;
  border-radius: 10px;
  padding: 15px;
}

.border {
  border: 2px solid #a1d1ff;
  padding: 2px;
  margin: 2px;
}

#lernblock-container-head {
  display: flex;
  justify-content: space-between;
}

#pomodoro-btn {
  background-color: #f55f5f;
  width: 80px;
  height: 40px;
  text-align: center;
  border: 2px none black;
  border-radius: 4px;
}

#pomodoro-btn:hover {
  cursor: pointer;
}

#invalid-block-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffafaf;
  border: 2px solid #ff8e8e;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
}

#btn-container {
  display: flex;
  justify-content: center;
  align-content: center;
}


#add-block-btn:hover {
  cursor: pointer;
}
