<div class="main-container">
  <div class="form-container flex-column border-r">
    <form class="sh-form m-accent-font">
      <div class="mb-4">
        <label >Session-Titel</label>
        <input class="form-control" [(ngModel)]="session.titel" name="session-titel">
      </div>
      <div class="mb-4">
        <label class="form-label">Beschreibung</label>
        <textarea class="form-control" [(ngModel)]="session.beschreibung" name="session-beschreibung"></textarea>
      </div>
      <div id="lernblock-container" class="mb-4">
        <div>
          <h3>Lernblöcke</h3>
        </div>
        <div>
          <Lernblock *ngFor="let block of currentBlockList; let i = index"
                     [index]="i" [block]="getBlock(i)"
                     [module] = "module"
                     [blockManager]="blockManager">
          </Lernblock>
        </div>
        <div id="btn-container">
          <button id="add-block-btn" (click)="appendBlock()">
            Block hinzufügen
          </button>
        </div>
      </div>
      <div class="mb-4">
        <button id="session-save-btn" class="sh-btn" (click)="saveSession()">
          Session speichern
        </button>
      </div>
    </form>
  </div>
</div>
