.sh-btn {
  width: 150px !important;
}

.blocks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lernblock-container {
  background-color: #e7f4ff;
  border-radius: 10px;
  padding: 15px;
}

#btn-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#add-block-btn {

}

#add-block-btn:hover {
  cursor: pointer;
}
