#super-container, #karte-erstellen-form-container {
  width: 85vw;
}

#super-container, #karte-erstellen-container, #karte-erstellen-form-container {
  display: flex;
  justify-content: center;
}

#karte-erstellen-form-container {
  border-style: solid;
  border-color: red;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}
