#container {
  width: 100vw;
  padding: 2% 15% 5% 15%;
}

.dsgvo-section {
  margin-bottom: 15px;
}

p {
  margin-bottom: 0;
}

#back-link {
  margin-bottom: 20px;
}

#section-header {
  margin-bottom: 20px;
}
