<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Karteikarten</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" href="/static/styles/kartei-übersicht.css" th:href="@{/styles/kartei-übersicht.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{/layout/fragments :: header}"></header>

<div id="kartei-übersicht-container">
    <div id="kartei-übersicht-header">
        <div>
            <h2>Deine Karteikarten-Sets</h2>
        </div>
        <div>
            <a id="add-set" th:href="@{/new-set}">
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>
</div>
<div id="kartei-set-container">
    <div id="kartei-set-info-kachel" class="alert alert-light shd" th:if="${karteiSetsAvailable}" th:each="karteiSet : ${karteisetList}">
        <div class="kartei-set-info-actions">
            <div class="kartei-set-info-item">
                <a id="kartei-set-kachel-set-name" th:href="@{/lernen/{karteiSetId}/übersicht(karteiSetId=${karteiSet.getFachId()})}" title="Set Details">
                    <strong>
                        <span th:text="${karteiSet.getName()}">Set Name</span>
                    </strong>
                </a>
            </div>
            <div class="kartei-set-info-item" th:if="${karteiSet.hasModulFachId()}">
                <p>Modul: <span th:text="${modulService.getModulName(karteiSet.getModulFachId())}">Mathematik</span></p>
            </div>
        </div>
        <div class="kartei-set-info-actions">
            <!-- TODO: Wenn fällige karteikarten anstehen, wird der lernen button angezeigt-->
            <div id="letnen-btn-container" class="kartei-set-info-item" th:if="${karteiSet.anzahlFälligeKarteikarten(today) > 0}">
                <a id="lernen-btn" th:href="@{/lernen/{karteiSetId}/start(karteiSetId=${karteiSet.getFachId().toString()})}">
                    <strong>lernen
                        <span id="vorrausichtliche-zeit-label"
                               th:if="${lernzeitService.showVorraussichtlicheLernzeitWhen(karteiSet.getFachId(), today)}"
                               th:text="${'(' + lernzeitService.calculateZeitAsString(lernzeitService.getVorraussichtlicheLernzeitFürStapel(karteiSet.getFachId(), today)) + ')'}">
                        </span>
                    </strong>
                </a>
            </div>

            <div class="kartei-set-info-item">
                <p>Neu: <span id="neue-karten" th:text="${karteiSet.anzahlNeueKarteikarten()}"></span></p>
            </div>
            <div class="kartei-set-info-item">
                <p>Fällig: <span id="fällige-karten" th:text="${karteiSet.anzahlFälligeKarteikarten(today)}"></span></p>
            </div>
            <div class="kartei-set-info-item">
                <a id="kartei-set-kachel-option" th:href="@{/set-bearbeiten/{karteiSetId}(karteiSetId=${karteiSet.getFachId()})}">
                    <i class="bi bi-gear" title="Set bearbeiten"></i>
                </a>
            </div>
        </div>
    </div>

    <div th:unless="${karteiSetsAvailable}">
        <p>Keine Karteikarten-Sets vorhanden.</p>
    </div>
</div>

<footer th:replace="~{/layout/fragments :: footer}"></footer>
</body>
</html>