.main-auth-container {
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5vh;
  margin-bottom: 50vh;
}

.help-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion-header {
  padding: 10px 10px 10px 10px;
}
