<div>
  <ul id="statistic-ul">
    <li>
      <p>Zeit studiert insgesamt: <span>{{totalStudyTime}}</span></p>
    </li>
    <li>
      <div>
        <p>Zeit studiert per Fachsemester</p>
        <table>
          <thead>
          <tr>
            <th>Fachsemester</th>
            <th>Zeit</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let semester of totalStudyTimePerSemester">
            <td>{{semester.key}}</td>
            <td>{{semester.value | timeFormat }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <p>Aktive Module: <span>{{numberActiveModules}}</span></p>
    </li>
    <li>
      <p>Deaktivierte Module: <span>{{numberNotActiveModules}}</span></p>
    </li>
    <li>
      <p>Modul am meisten studiert: <span>{{maxStudiedModul}}</span></p>
    </li>
    <li>
      <p>Modul am wenigsten studiert: <span>{{minStudiedModul}}</span></p>
    </li>
    <!--
    <li>
        <p>Täglich studiert: <span>~4,3h</span></p>
    </li>
    <li>
        <p>Wöchentlich studiert: <span>~40,3h</span></p>
    </li>
    -->
  </ul>
</div>
