#super-container{
  display: flex;
  justify-content: center;
  width: 85vw;
}

#chart-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px 50px 50px 50px;

}

.chart {
  width: 60vw;
  background-color: white;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;

}
