#chart-container {
  width: 600px;
}

.chart {
  width: 60vw;
  background-color: white;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;

}

table {
  margin-top: 40px;
  margin-bottom: 40px;
}
