#new-karte-normal-form-box, #fragetyp-auswahl-form-box, #new-karte-sc-form-container, #new-karte-mc-form-container {
    display: flex;
    justify-content: space-around;
}

#new-karte-normal-form, #fragetyp-auswahl-form, #new-karte-sc-form, #new-karte-mc-form{
    width: 60%;
    background-color: #fcfcfd;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
}

.table {
    --bs-table-bg: #fcfcfd !important;
    border-style: none;
}

.t-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wahr {
    height: 100px;
}