#view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.word-break {
    word-break: break-all;    /* Verhindert Umbruch (nützlich für z. B. Japanisch) */
}

#option-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#edit-btn:hover {
    color: rgb(79, 93, 143);
}

#delete-btn:hover {
    color: #f55f5f;
}

.btn-secondary {
    border-style: none;
    width: 180px; !important
}

.btn-secondary:hover {
    border-style: none;
    background-color: #f55f5f; !important
}

.general-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}

#general-options-btn-group-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px
}

.accordion {
    width: 70%;
}

.accordion-button {
    padding: 0 0 0 0;
    height: 50px;
}

.accordion-button::after {
    margin-left: 1100px;
}

.accordion-item h2 p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}

