<div class="main-container">
  <div class="form-container">
    <form class="sh-form" [formGroup]="newStapelForm" (ngSubmit)="submitForm()">
      <h2 class="m-accent-font mb-4">Karteikartenstapel erstellen</h2>
      <div class="mb-4">
        <label for="set-name" class="m-accent-font sh-form-lbl">Stapelname<span class="hint-star">*</span></label>
        <input id="set-name" class="form-control" formControlName="setName">
        <span class="text-danger"
              *ngIf="newStapelForm.controls['setName'].errors?.['required'] && newStapelForm.controls['setName'].touched">
              Geben Sie einen Namen für den Stapel ein
        </span>
      </div>

      <div class="mb-4">
        <label for="beschreibung" class="m-accent-font sh-form-lbl">Beschreibung</label>
        <textarea id="beschreibung" class="form-control" formControlName="beschreibung" rows="3"></textarea>
      </div>

      <div class="mb-4">
        <label for="modul-link" class="m-accent-font sh-form-lbl">Modul verlinken</label>
        <select id="modul-link" class="form-select fs-4" formControlName="modulFachId">
          <option selected value="">kein</option>
          <option *ngFor="let modul of modulMap" [value]="modul.key">
            <span>{{modul.value}}</span>
          </option>
        </select>
      </div>

      <div class="mb-4">
        <label for="interval" class="m-accent-font sh-form-lbl">Lern-Intervalle<span class="hint-star">*</span></label>
        <div id="lerninterval-container">
          <div class="col-11">
            <input id="interval" class="form-control" formControlName="lernIntervalle">
            <span class="text-danger"
                  *ngIf="newStapelForm.controls['lernIntervalle'].errors?.['required'] && newStapelForm.controls['lernIntervalle'].touched">
                Geben Sie ein Lernintervall ein
          </span>
            <span class="text-danger"
                  *ngIf="newStapelForm.controls['lernIntervalle'].errors?.['pattern'] && newStapelForm.controls['lernIntervalle'].touched">
                Geben Sie ein korrekt formatiertes Lernintervall ein
          </span>
          </div>
          <div class="col-1">
            <div id="tip-container">
            <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Beispiel: '10m,30m,2h'.<br>Nicht möglich ist '62m,30h,40d'">
            <i class="bi bi-info-circle-fill text-dark tip"></i>
          </span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <button class="sh-form-btn" [disabled]="!newStapelForm.valid">
          <span class="sh-form-btn-content">Stapel erstellen</span>
        </button>
      </div>
      <div class="mt-4">
        <p class="m-accent-font form-hint">* Pflichtfeld</p>
      </div>
    </form>
  </div>
</div>

