<div>
  <div id="pagination-table" class="bordered-b">
    <table>
      <tr>
        <th>
          <a class="m-accent-font" [routerLink]="['meine-module']">Meine Module</a>
        </th>
        <th>
          <a class="m-accent-font" [routerLink]="['add-modul']">Modul hinzufügen</a>
        </th>
        <th>
          <a class="m-accent-font" [routerLink]="['statistiken']">Statistiken</a>
        </th>
      </tr>
    </table>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
