#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(248, 249, 250);
  width: 91vw;
}

#modul-pagination {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 45px;
  margin: 10px 10px 10px 10px;
}

.pagination-item {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  width: 25%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left-page-item {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-page-item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-service-view-container {
  display: flex;
  flex-direction: column;
}
