<body class="bg-lightgrey">
<!-- TODO: Wenn noch keine Module eingetragen sind muss hier default was stehen-->
<div>
  <div>
    <div *ngFor="let modul of module; let i = index">
      <h2>{{modul.name}}</h2>
      <table>
        <thead>
        <tr>
          <th>Option</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Timer zurücksetzen
          </td>
          <td><button class="btn option-btn" (click)="resetTimer(modul.fachId, modul.name)">reset</button></td>
        </tr>
        <tr>
          <td>
            Modul löschen
          </td>
          <td>
            <button class="btn option-btn" (click)="deleteModul(modul.fachId, modul.name)">löschen</button>
          </td>
        </tr>
        <tr>
          <td>
            Modul aktivieren/deaktivieren
          </td>
          <td>
            <div *ngIf="modul.active">
              <button class="btn option-btn" (click)="deactivateModul(modul.fachId, modul.name)">deaktivieren</button>
            </div>
            <div *ngIf="!modul.active">
              <button class="btn option-btn" (click)="activateModul(modul.fachId, modul.name)">aktivieren</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="fs-25">Zeit hinzufügen (hh:mm):</label>
          </td>
          <td>
            <form id="form-add-time" *ngIf="addTimeForms[i]" [formGroup]="addTimeForms[i]" (click)="sendAddTimeData(i, modul.name)">
              <div id="option-add-time">
                <input id="time-inp" type="time" class="inp form-control" formControlName="time">
                <button class="btn option-btn">hinzufügen</button>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <label for="add-klausur" class="fs-25">Klausurdatum hinzufügen:</label>
          </td>
          <td>
            <form id="form-klausur" *ngIf="addKlausurDateForms[i]" [formGroup]="addKlausurDateForms[i]" (click)="sendKlausurDateData(i, modul.name)">
              <div id="option-add-klausur-date">
                <input id="add-klausur" class="inp form-control" type="date" formControlName="date">
                <input type="time" class="inp form-control" formControlName="time">
                <button class="btn option-btn">hinzufügen</button>
              </div>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>

