<!-- TODO: Wenn noch keine Module eingetragen sind muss hier default was stehen-->
<div id="option-container">
  <div *ngIf="module.length == 0">
    <p>Es sind noch keine Module eingetragen.</p>
  </div>
  <div *ngIf="module.length > 0">
    <div>
      <div>
        <mat-form-field class="ff-outfit">
          <mat-label class="ff-outfit">Modul auswählen</mat-label>
          <mat-select class="ff-outfit" (selectionChange)="selectModule($event)">
            @for (modul of module; track modul) {
              <mat-option class="ff-outfit" [value]="modul.fachId">{{modul.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>
      <div id="option-table-container">
        <table>
          <tr>
            <th class="col-wd-200 m-accent-font">
              Timer zurücksetzen
            </th>
            <td class="col-wd-300 td-border-l m-accent-font">
              <button class="btn btn-secondary" (click)="resetTimer()">reset</button>
            </td>
          </tr>
          <tr>
            <th class="col-wd-200 m-accent-font">
              Modul löschen
            </th>
            <td class="col-wd-300 td-border-l m-accent-font">
              <a (click)="deleteModul()">löschen</a>
            </td>
          </tr>
          <tr>
            <th class="col-wd-200 m-accent-font">
              Modul aktivieren/deaktivieren
            </th>
            <td class="col-wd-300 td-border-l m-accent-font">
            <div>
                <mat-slide-toggle (change)="putAktivStatus(modulFachId)" [checked]="getActiveStatus(modulFachId)">
                  <span class="ff-outfit" *ngIf="getActiveStatus(modulFachId)">deaktivieren</span>
                  <span class="ff-outfit" *ngIf="!getActiveStatus(modulFachId)">aktivieren</span>
                </mat-slide-toggle>
              </div>
            </td>
          </tr>
          <tr>
            <th class="col-wd-200 m-accent-font">
              <label>Zeit hinzufügen (hh:mm):</label>
            </th>
            <td class="col-wd-300 td-border-l m-accent-font">
              <form id="form-add-time" [formGroup]="addTimeForm">
                <div id="option-add-time">
                  <input id="time-inp" type="time" class="inp form-control" formControlName="time">
                  <button (click)="sendAddTimeData()" >hinzufügen</button>
                </div>
              </form>
            </td>
          </tr>
          <tr>
            <th class="col-wd-200 m-accent-font">
              <label for="add-klausur">Klausurdatum hinzufügen:</label>
            </th>
            <td class="col-wd-300 td-border-l m-accent-font">
              <form id="form-klausur" [formGroup]="addKlausurDate">
                <div id="option-add-klausur-date">
                  <input id="add-klausur" class="inp form-control" type="date" formControlName="date">
                  <input type="time" class="inp form-control" formControlName="time">
                  <button (click)="sendKlausurDateData()">hinzufügen</button>
                </div>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
