#login-form-btn-grp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 25px 10px 10px 10px;
}

#login-form-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

#forgot-pw-a {
  font-size: 10px;
}
