#karteikarte-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfd;
  border-style: none;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.karteikarte-container-item {
  text-align: center;
  width: 100%;
}

#btn-group-div {
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
}

#anzeigen-btn-div {
  margin-top: 50px;
}

#anzeigen-btn-div, #kartei-antwort-div {
  flex-direction: row;
  justify-content: center;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

.btn-group, .btn-anzeige {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  width: 170px;
  color: black;
  margin: 2px;
  justify-content: center;
}

#btn-0:hover {
  color: red;
  background-color: #f55f5f;
}

#btn-1:hover {
  color: blue;
  background-color: lightblue;
}

#btn-2:hover {
  color: green;
  background-color: lightgreen;
}

.btn-group-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#anzeige-btn:hover {
  background-color: lightgrey;
  width: 170px;
  border-style: none;
  border-radius: 5px;
}
