<div id="super-container">
  <div id="karteikarte-container">

    <hr>

    <div id="seconds-box">
      <p>{{lernzeitTimer?.getLernzeitGesamt() | timeFormat}}</p>
    </div>
    <!--NORMAL Karte -->
    <ng-container *ngIf="frageTyp(kartenIndex) == FrageTyp.NORMAL">
      <app-normal-karte [stapelData]="stapel"
                        [btnDataList]="btnDataList"
                        [lernzeitTimer]="lernzeitTimer"
                        [currentKartenIndex]="kartenIndex"
                        (karteIndexChange)="updateKartenIndexFromChild($event)">
      </app-normal-karte>
    </ng-container>

    <!-- CHOICE Karte -->
    <ng-container *ngIf="frageTyp(kartenIndex) == FrageTyp.SINGLE_CHOICE || frageTyp(kartenIndex) == FrageTyp.MULTIPLE_CHOICE">
      <app-choice-kart  [btnDataList]="btnDataList"
                        [stapelData]="stapel"
                        [currentKartenIndex]="kartenIndex"
                        [lernzeitTimer]="lernzeitTimer"
                        (karteIndexChange)="updateKartenIndexFromChild($event)">
      </app-choice-kart>
    </ng-container>
  </div>
</div>
