<div id="super-container">
  <div id="karteikarte-container">

    <hr>

    <div id="seconds-box">
      <p>{{overallSeconds | timeFormat}}</p>
    </div>
    <!--NORMAL Karte -->
    <ng-container *ngIf="thisStapel.karteikarten?.[kartenIndex]?.frageTyp == FrageTyp.NORMAL">
      <app-normal-karte [frage]="thisStapel.karteikarten?.[kartenIndex]?.frage"
                        [antwort]="thisStapel.karteikarten?.[kartenIndex]?.antwort"
                        [hideAntwort]="hideAntwort"
                        ></app-normal-karte>
    </ng-container>

    <!-- CHOICE Karte -->
    <ng-container *ngIf="thisStapel.karteikarten?.[kartenIndex]?.frageTyp == FrageTyp.SINGLE_CHOICE
                         || thisStapel.karteikarten?.[kartenIndex]?.frageTyp == FrageTyp.MULTIPLE_CHOICE">
      <app-choice-kart
      [hideAntwortBtn]="hideAntwortBtn"
      [hideBtnGroup]="hideBtnGroup"
      [btnDataList]="btnDataList"
      [stapelData]="thisStapel"
      [kartenIndex]="kartenIndex"></app-choice-kart>
    </ng-container>
  </div>
</div>
