<div>
  <div id="karteikarte-container" class="shd">
    <div class="karteikarte-container-item">
      <p>{{ thisStapel.karteikarten?.[kartenIndex]?.frage}}</p>
    </div>
    <div *ngIf="!hideAntwort" id="kartei-antwort-div" class="karteikarte-container-item">
      <p>{{ thisStapel.karteikarten?.[kartenIndex]?.antwort}}</p>
    </div>
    <div *ngIf="hideAntwortBtn" id="anzeigen-btn-div" class="karteikarte-container-item btn-anzeige active">
      <button id="anzeige-btn" (click)="toggleAntwort()">Antwort anzeigen</button>
    </div>

    <div *ngIf="hideBtnGroup" id="btn-group-div" class="karteikarte-container-item">
      <hr>
      <div *ngFor="let btnData of btnDataList; let i = index">
        <button (click)="updateKarteikarte(i)">{{btnData.schwierigkeit}} ({{btnData.btnTitel}})</button>
      </div>
    </div>
  </div>
</div>
