<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Impressum</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/general.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

</head>
<body>
<!-- TODO: style -->
<header th:replace="~{/layout/fragments :: header}"></header>
  <h2>Impressum</h2>

  <h3>Angaben gemäß § 5 TMG</h3>
  <address>
    <p>Timo Neske</p>
    <p>Claudiusstraße 3a</p>
    <p>41540 Dormagen</p>
  </address>

  <h3>Kontakt</h3>
  <p>E-Mail: <span>neske.timo93@gmail.com</span></p>

  <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>
  <address>
    <p>Timo Neske</p>
    <p>Claudiusstraße 3a</p>
    <p>41540 Dormagen</p>
  </address>

  <h3>Haftungsausschluss</h3>

  <h4>Haftung für Inhalte</h4>
  <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>

  <h4>Haftung für Links</h4>
  <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.</p>

  <h4>Urheberrecht</h4>
  <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet.</p>
<footer th:replace="~{/layout/fragments :: footer}"></footer>
</body>
</html>