#profil-avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  border-color: #000000;
  border-width: 3px;
  border-style: solid;
}

#profil-avatar:hover {
  cursor: pointer;
}

#profil-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
