#impressum-container {
  width: 100vw;
}

.impressum-section {
  padding: 2% 15% 30% 15%;
}

#section-header {
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

#back-link {
  margin-bottom: 20px;
}
#info {
  margin-top: 10px;
}

