<div class="main-container">
  <div class="impressum-container">
    <section>
      <address>
        <h1>Impressum</h1>

        <p>Angaben gemäß § 5 TMG</p>

        <p>Timo Neske</p>
        <p>Claudiusstraße 3a</p>
        <p>41540 Dormagen</p>
        <p>Deutschland</p>

        <p>E-Mail: Timo.Neske&#64;hhu.de</p>

        <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
        <p>Timo Neske</p>
        <p>[Adresse wie oben]</p>
      </address>
    </section>
  </div>
</div>
<app-footer></app-footer>


