<div class="bg-lightgrey m-accent-font">
  <div class="impressum-container">
    <section class="impressum-section">
      <div id="back-link">
        <a [routerLink]="'/module'">zurück</a>
      </div>
      <div id="section-header">
        <h2>Impressum</h2>
      </div>
      <p>Angaben gemäß § 5 TMG</p>
      <address>
        <p>Timo Neske</p>
        <p>Claudiusstraße 3a</p>
        <p>41540 Dormagen</p>
        <p>Deutschland</p>
        <p>E-Mail: Timo.Neske&#64;hhu.de</p>
      </address>
      <div id="info">
        <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
        <p>Timo Neske</p>
        <p>[Adresse wie oben]</p>
      </div>
    </section>
  </div>
</div>
