<div class="sub-container">
  <div class="frage-container">
    <p>{{ frage }}</p>
  </div>
</div>
<div class="sub-container">
  <div class="antwort-container">
    <ng-container *ngIf="frageTyp == FrageTyp.SINGLE_CHOICE">
      <h3>Markieren Sie die zutreffende Antwort</h3>
    </ng-container>
    <ng-container *ngIf="frageTyp == FrageTyp.MULTIPLE_CHOICE">
      <p>Markieren Sie die zutreffenden Antworten</p>
      <mat-list>
        <div class="antworten-choices-container">
          <mat-list-item *ngFor="let antwort of expectedAntworten; let i = index">
            <div class="antwort-choices" >
              <div>
                <mat-checkbox (click)="setAntwort(i)"></mat-checkbox>
              </div>
              <div>
                <span [ngClass]="{'fehler': actualCorrectAnswers[i]}">{{antwort.antwort}}</span>
              </div>
            </div>
          </mat-list-item>
        </div>
      </mat-list>
    </ng-container>
  </div>
</div>
<div class="sub-container" *ngIf="hideAntwortBtn">
  <button id="anzeige-btn" class="btn" (click)="revealAntwort()">Antwort anzeigen</button>
</div>
<hr>
<div class="row" *ngIf="hideBtnGroup">
  <div class="col-2"></div>
  <div id="btn-group" class="col-8">
    <div *ngFor="let btnData of btnDataList; let i = index">
      <button [id]="'k-btn-'+i" class="btn w-150 m-1" (click)="updateKarteikarte(i, $event)">{{btnData.schwierigkeit}} ({{btnData.btnTitel}})</button>
    </div>
  </div>
  <div class="col-1">
    <div id="bearbeiten-a">
      <a href="#">bearbeiten</a>
    </div>
  </div>
</div>
