<div class="form-container">
  <form class="sh-form">
    <div class="mb-3">
      <label class="form-label">Termin<span>*</span></label>
      <input class="form-control" type="text">
    </div>
    <div class="mb-3">
      <label class="form-label">Beginn<span>*</span></label>
      <input class="form-control" type="date">
    </div>
    <div class="mb-3">
      <label class="form-label">Ende</label>
      <input class="form-control" type="date">
    </div>
    <div class="mb-3">
      <label class="form-label">Bemerkung</label>
      <input class="form-control" type="text">
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Wiederholen<span>*</span></option>
        <option value="1">Nie</option>
        <option value="2">Täglich</option>
        <option value="3">Wöchentlich</option>
        <option value="3">Monatlich</option>
        <option value="3">Jährlich</option>
      </select>
    </div>
    <div class="mb-3">
      <button class="sh-form-btn">
        <span class="sh-form-btn-content">Termin erstellen</span>
      </button>
    </div>
    <div>
      <p>*Pflichtfelder</p>
    </div>
  </form>
</div>
