<div class="form-container">
  <form class="sh-form m-accent-font" [formGroup]="neuerTerminForm" (ngSubmit)="sendTerminFormData()">
    <div class="mb-3">
      <label class="form-label">Titel<span class="hint-star">*</span></label>
      <input class="form-control" type="text" formControlName="titel">
      <span class="text-danger"
            *ngIf="neuerTerminForm.controls['titel'].errors?.['required'] && neuerTerminForm.controls['titel'].touched">
              Geben Sie einen Namen ein
      </span>
      <span class="text-danger"
            *ngIf="neuerTerminForm.controls['titel'].errors?.['maxlength'] && neuerTerminForm.controls['titel'].touched">
              Max. 200 Zeichen
      </span>
    </div>
    <div class="mb-3">
      <label class="form-label">Beginn<span class="hint-star">*</span></label>
      <input class="form-control" type="datetime-local" formControlName="beginn">
      <span class="text-danger"
            *ngIf="neuerTerminForm.controls['beginn'].errors?.['required'] && neuerTerminForm.controls['beginn'].touched">
              Geben Sie ein Datum ein
      </span>
    </div>
    <div class="mb-3">
      <label class="form-label">Ende</label>
      <input class="form-control" type="datetime-local" formControlName="ende">
    </div>
    <div class="mb-3">
      <label class="form-label">Bemerkung</label>
      <input class="form-control" type="text" formControlName="notiz">
    </div>

    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" formControlName="terminart">
        <option value="SONSTIGES" selected>Sonstiges</option>
        <option value="KLAUSUR">Klausur</option>
        <option value="TESTAT">Testat</option>
        <option value="MÜNDLICHE_PRÜFUNG">Mündliche Prüfung</option>
        <option value="ABGABE">Abgabe</option>
        <option value="PRAKTIKUM">Praktikum</option>
        <option value="SEMINAR">Seminar</option>
        <option value="ÜBUNG">Übung</option>
        <option value="PROJEKTMEETING">Projektmeeting</option>
        <option value="KOLLOQUIUM">Kolloquium</option>
        <option value="EXKURSION">Exkursion</option>
      </select>
      <span class="text-danger"
            *ngIf="neuerTerminForm.controls['terminart'].errors?.['required'] && neuerTerminForm.controls['terminart'].touched">
              Wählen Sie eine Terminart ein
      </span>
    </div>

    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" formControlName="repeat">
        <option value="" selected disabled>Wiederholen*</option>
        <option value="EINMALIG">Nie</option>
        <option value="TÄGLICH">Täglich</option>
        <option value="WÖCHENTLICH">Wöchentlich</option>
        <option value="MONATLICH">Monatlich</option>
        <option value="JÄHRLICH">Jährlich</option>
      </select>
      <span class="text-danger"
            *ngIf="neuerTerminForm.controls['repeat'].errors?.['required'] && neuerTerminForm.controls['repeat'].touched">
              Wählen Sie eine Wiederholungsweise ein
      </span>
    </div>
    <div class="mb-3">
      <button class="sh-form-btn" type="submit">
        <span class="sh-form-btn-content">Termin erstellen</span>
      </button>
    </div>
    <div>
      <p class="form-hint">*Pflichtfelder</p>
    </div>
  </form>
</div>
