#option-btn-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

#option-add-time {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

#form-add-time {
    margin-top: 15px;
}

#accordion-box {
    display: flex;
    justify-content: center;
}

.accordion-item {
    width: 400px;
}


.accordion-button:focus,
.accordion-button.active,
.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    background-color: white !important;
}

