#form-container {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#semester-form-container {
    background-color: rgb(247, 247, 247);
    border-style: none;
    border-radius: 10px;
    width: 750px;
}

#semester-form {
    padding: 10px 10px 10px 10px;
}